.white{
    color: #ffffff !important;
}
.content{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 2.5%;
}
.content .content-td{
    width: 30%;
    color: #FFFFFF;
}
.content .content-td.two{
    width: 40%;
    margin: 0 3%;
}
.content .content-td.one{
    padding-top: 3.5%;
}
.content .content-td.one .monitor{
    width: 100%;
    height: 12%;
    padding: 4.5% 6%;
    margin-bottom: 3.5%;
    border: 1px solid #0173bb;
    background: rgba(2,14,58,0.6);
    -moz-box-shadow:0px 0px 17px rgba(17,115,167,1) inset;               /* For Firefox3.6+ */
    -webkit-box-shadow:0px 0px 17px rgba(17,115,167,1) inset;            /* For Chrome5+, Safari5+ */
    box-shadow:0px 0px 17px rgba(17,115,167,1) inset;                    /* For Latest Opera */
}
.content .content-td.one .monitor-region{
    height: 50%;
    padding-top: 10%;
}
.content .content-td.one .monitor .title{
    font-size: 130%;
}
.content .content-td.one .monitor .title small{
    font-size: 132%;
    color: #F93d3d;
}
.content .content-td.one .monitor .subtitle{
    font-size: 103%;
}
.content .content-td.one .monitor .subtitle small{
    font-size: 120%;
    color: #F93d3d;
}
.content .content-td.one .monitor-region .title{
    font-size: 103%;
}
.content .content-td.one .monitor-region .subtitle{
    font-size: 103%;
    line-height: 31px;
}
.content .content-td.one .monitor-region .title small{
    font-size: 130%;
}
.content .content-td.one .monitor-region .subtitle small{
    font-size: 103%;
}
.content .content-td.one .monitor-region .info{
    width: 103%;
    height: auto;
    display: flex;
    font-size: 103%;
    margin-top: 6%;
}
.content .content-td.one .monitor-region .info ul:first-child{
    margin-right: 18%;
}
.content .content-td.one .monitor-region .info ul li{
    margin-bottom: 4%;
}
.content .content-td.one .monitor-region .info ul li small{
    color: #F93d3d;
    font-size: 103%;
}
.content .content-td.one .monitor-region .monitor-chart{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 6%;
}
.content .content-td.one .monitor-region .monitor-chart > div{
    width: 34%;
    height: 80%;
}
.content .content-td.two .map{
    width: 100%;
    height: 50%;
}
.content .content-td.two .column > div,
.content .content-td.two .map > div{
    width: 100%;
    height: 100%;
}
.content .content-td.two .column{
    width: 100%;
    height: 30%;
    padding-top: 3%;
    margin-top: 8%;
    position: relative;
}
.content .content-td.two .column .ibox-title{
    position: absolute;
    top: 0;
    left: 0;
}
.content .content-td.two .column .num{
    position: absolute;
    top: 20px;
    left: 178px;
    height: auto;
    font-size: 14px;
}
.content .content-td.two .column .num small{
    font-size: 18px;
    color: #15a6c5;
}
.content .content-td.three .table-risk{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.content .content-td.three .table-risk .risk-title{
    display: flex;
    margin-bottom: 3.5%;
}
.content .content-td.three .table-risk .risk-title > span{
    border: 1px solid #17b5cf;
    color: #17b5cf;
    padding: 2% 6%;
    cursor: pointer;
    background: rgba(21,103,128,0.9);
    -moz-box-shadow:0px 0px 17px rgba(23,181,207,1) inset;               /* For Firefox3.6+ */
    -webkit-box-shadow:0px 0px 17px rgba(23,181,207,1) inset;            /* For Chrome5+, Safari5+ */
    box-shadow:0px 0px 17px rgba(23,181,207,1) inset;                    /* For Latest Opera */
}
.content .content-td.three .table-risk .risk-title > span.active,
.content .content-td.three .table-risk .risk-title > span:hover{
    background: rgba(33,36,60,0.9);
}
.content .content-td.three .table-risk .risk-content{
    width: 100%;
    height: 88%;
    padding: 3% 0%;
    border: 1px solid #0173bb;
    background: rgba(2,14,58,0.6);
    -moz-box-shadow:0px 0px 17px rgba(17,115,167,1) inset;               /* For Firefox3.6+ */
    -webkit-box-shadow:0px 0px 17px rgba(17,115,167,1) inset;            /* For Chrome5+, Safari5+ */
    box-shadow:0px 0px 17px rgba(17,115,167,1) inset;                    /* For Latest Opera */
}
.content .content-td.three .table-risk .risk-content .title{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #0173bb;
    padding-bottom: 2%;
}
.content .content-td.three .table-risk .risk-content .content-info{
    display: flex;
    width: 100%;
    margin: 4.5% 0;
}
.content .content-td.three .table-risk .risk-content .content-info > span,
.content .content-td.three .table-risk .risk-content .title > span{
    width: 20%;
    font-size: 14px;
    color: #6dd5ff;
    text-align: center;
}
.content .content-td.three .table-risk .risk-content .content-info > span.a,
.content .content-td.three .table-risk .risk-content .title > span.a{
    width: 40%;
}
.content .content-td.three .table-risk .risk-content .content-info > span.a{
    display: flex;
    padding-right: 3%;
}
.content .content-td.three .table-risk .risk-content .content-info > span.a div{
    width: 100%;
    background: #FFF;
    border-radius: 25px;
    height: 11px;
    margin-top: 5px;
}
.content .content-td.three .other-company{
    position: relative;
    width: 100%;
    height: 30%;
    padding-top: 10%;
    margin-top: 10.5%;
}
.content .content-td.three .other-company .ibox-title{
    position: absolute;
    top: 0;
    left: 0;
}
.content .content-td.three .other-company .num{
    position: absolute;
    top: 20px;
    left: 162px;
    height: auto;
    font-size: 14px;
}
.content .content-td.three .other-company .num small{
    font-size: 18px;
    color: #15a6c5;
}
.content .content-td.three .other-company .other-box{
    width: 100%;
    height: 100%;
    display: flex;
}
.content .content-td.three .other-company .other-box #radar{
    width: 55%;
    height: 100%;
}
.content .content-td.three .other-company .other-box .company-in{
    width: 45%;
    height: 100%;
    padding-left: 3%;
    padding-top: 12%;
    padding-bottom: 7%;
}
.content .content-td.three .other-company .other-box .company-in .company-in-box{
    width: 100%;
    height: 92%;
    padding: 3% 0%;
    border: 1px solid #0173bb;
    background: rgba(2,14,58,0.6);
    -moz-box-shadow:0px 0px 17px rgba(17,115,167,1) inset;               /* For Firefox3.6+ */
    -webkit-box-shadow:0px 0px 17px rgba(17,115,167,1) inset;            /* For Chrome5+, Safari5+ */
    box-shadow:0px 0px 17px rgba(17,115,167,1) inset;                    /* For Latest Opera */
}
.content .content-td.three .other-company .other-box .company-in .company-in-box .company-in-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #0173bb;
    padding: 2% 4% 4% 5%;
    color: #ef2d2d;
    align-items: center;
}
.content .content-td.three .other-company .other-box .company-in .company-in-box .company-in-title span:first-child{
    font-size: 14px;
}
.content .content-td.three .other-company .other-box .company-in .company-in-box .company-in-title span:last-child{
    font-size: 12px;
    width: 45%;
    background: #ef2d2d;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 1% 2% 0 2%;
}
.content .content-td.three .other-company .other-box .company-in .company-in-box .company-in-title span:last-child small{
    font-size: 16px;
    margin-left: 11%;
}
.content .content-td.three .other-company .other-box .company-in .company-in-box .company-in-content{
    padding: 3.5%;
}
.content .content-td.three .other-company .other-box .company-in .company-in-box .company-in-content p{
    margin-bottom: 0;
    font-size: 12px;
}
.content .content-td.three .other-company .other-box .company-in .company-in-box .company-in-content p:first-child{
    font-size: 13px;
}

@media screen and (min-height: 0px) and (max-height: 768px){
    .content .content-td.one .monitor > p{
        margin-bottom: 1.5%;
    }
    .content .content-td.three .table-risk .risk-content .content-info{
        margin: 4% 0;
    }
    .content .content-td.two .column{
        margin-top: 2%;
        height: 33%;
    }
    .content .content-td.three .other-company{
        height: 35.5%;
        margin-top: 2.5%;
    }
}